nvim/.config/nvim/plugin/packer_compiled.lua
fish/.config/fish/fish_variables
fcitx5/*
!fcitx5/.config/fcitx5/conf/unikey.conf
!fcitx5/.config/fcitx5/conf/waylandim.conf
!fcitx5/.config/fcitx5/conf/xim.conf
!fcitx5/.config/fcitx5/config
!fcitx5/.config/fcitx5/profile
cargo/.cargo/*
!cargo/.cargo/config.toml
