XDG_CONFIG_HOME/nvim/.config/nvim/plugin/packer_compiled.lua
XDG_CONFIG_HOME/hypr/.config/hypr/hyprlandd.conf
XDG_CONFIG_HOME/fish/.config/fish/fish_variables
XDG_CONFIG_HOME/fcitx5/.config/fcitx5/conf/cached_layouts
