[Unit]
Description=Run rclone_sync obsidian every 15-30 minutes
Requires=rclone_sync.service
[Timer]
Unit=rclone_sync.service
OnUnitInactiveSec=15m
RandomizedDelaySec=15m
AccuracySec=1s
[Install]
WantedBy=timers.target
